@model CIPlatform.entities.ViewModels.PlatformLandingViewModel
@{
    var UserName = Context.Session.GetString("firstName");
    var userId = Context.Session.GetString("userId");
    var isFavourate = 0;

    if (userId != "" && userId != null)
    {
        if (Model.FavouriteMissionsList.Any(fm => fm.UserId == long.Parse(userId)))
        {
            isFavourate = 1;
        }
    }
}

@*
<nav class="d-flex justify-content-between container my-3 first-div">
    <div class="dropdown left-div">
        <button class="header-toggle d-md-none border-0">
            <img class="h-50" src="~/images/list.png" alt="#">
        </button>
        <a asp-action="PlatformLandingPage" asp-controller="Home">
            <img class="logo h-50" src="~/images/logo.png" alt="#">
        </a>
        <a asp-action="StoryListing" asp-controller="Story" class="text-decoration-none mx-5 d-none d-md-inline d-lg-inline">Stories</a>
        <button class="dropdown-toggle policy-btn d-none d-md-inline d-lg-inline" data-bs-toggle="dropdown"
                aria-expanded="false" type="button" id="dropdownMenuButton1">
            Policy
            <img class="m-1" src="~/images/drop-down.png" alt="#">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>

    </div>

    <div class="dropdown right-div">
        <button class="header-serach d-md-none border-0">
            <img class="search-logo" id="search-btn" src="~/images/search.png" alt="#">
        </button>
        @if (UserName != null)
        {
            <img class="rounded-circle user-img" src="~/images/user1.png" alt="#">
            <button class="dropdown-toggle policy-btn profile-btn d-none d-sm-inline" data-bs-toggle="dropdown"
                aria-expanded="false" type="button" id="dropdownMenuButton1">
                <span> @UserName</span>



                <img class="m-1" src="~/images/drop-down.png" alt="#">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" asp-action="Logout" asp-controller="Home">Logout</a></li>
            </ul>
        }
        @if (UserName == null)
        {
            <div class="d-inline">
                <a class="btn btn-outline-danger rounded" asp-action="Login" asp-controller="Home" asp-area="Users">Login</a>
            </div>
        }

    </div>
</nav>
*@

<partial name = "_Navbar1" />

<section class="container mt-3 border-top p-5">
    <div class="d-flex flex-column flex-sm-column flex-lg-row justify-content-around">
        <div class="div-left  detail-img">
            <img class="poster-img mb-1 w-100" src="@Model.ThumbnailURL"
                 alt="">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active d-flex gap-1 ">
                        <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png"
                             class="w-25 h-50" alt="...">
                        <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png"
                             class=" w-25 h-50" alt="...">
                        <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png"
                             class="w-25 h-50" alt="...">
                        <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png"
                             class="w-25 h-50" alt="...">


                    </div>
                    <!-- <div class="carousel-item d-flex gap-1">
                        <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" class="h-50 w-25"
                            alt="...">
                        <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" class="h-50 w-25"
                            alt="...">
                        <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" class="h-50 w-25"
                            alt="...">
                        <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" class="h-50 w-25"
                            alt="...">
                    </div>

                    <div class="carousel-item"></div> -->



                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div>
            <div class="title-heading">@Model.Title</div>
            <p class="descr mt-2">
                @Model.ShortDesc
            </p>

            @if (Model.MissionType == false)
            {
                <div>
                    <div class="border start-end-date rounded-pill mx-auto p-2 -translate-middle-y bg-white">
                        @Model.GoalMissions.GoalObjectiveText
                    </div>
                    <div class="d-flex justify-content-around  border-top pt-4 pb-2 border-bottom">
                        <div class="d-flex align-items-center">
                            <img class='h-50' src="~/images/Seats-left.png" alt="#">
                            <div class="ms-2">
                                <p class="m-0 p-0 fw-bold">@Model.SeatsLeft</p>
                                <span class="m-0 p-0 seats-left">Seats left</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <img class="h-50" src="~/images/achieved.png" alt="#">
                            <div class="ms-2">
                                <div class="progress">
                                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="50"
                                     aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>

                                <span class="m-0 p-0 deadline">8000 achieved</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div>
                    <div class="border start-end-date rounded-pill mx-auto p-2 -translate-middle-y bg-white">
                        From
                        @Model.StartDate?.ToString("d") until
                        @Model.EndDate?.ToString("d")
                    </div>
                    <div class="d-flex justify-content-around  border-top pt-4 pb-2 border-bottom">
                        <div class="d-flex align-items-center">
                            <img class='h-50' src="~/images/Seats-left.png" alt="#">
                            <div class="ms-2">
                                <p class="m-0 p-0 fw-bold">@Model.SeatsLeft</p>
                                <span class="m-0 p-0 seats-left">Seats left</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <img class="h-50" src="~/images/deadline.png" alt="#">
                            <div class="ms-2">
                                <p class="m-0 p-0 fw-bold">@Model.EndDate?.ToString("d")</p>
                                <span class="m-0 p-0 deadline"> Deadline</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <input type="hidden" value="@Model.MissionId" id="missionId" />

            <input type="hidden" value="@userId" id="userId" />


            @if (userId != null)
            {
                <div class="d-flex gap-2 m-3 justify-content-md-center">
                    @if (isFavourate == 1)
                    {
                        <input type="hidden" value="1" id="isFavourate" />
                        <button class="border rounded-pill bg-white py-1" id="addToFavourite">
                            <img src="~/images/fill-heart.png" class="fav-img" alt="">
                            <span class="font-size fav-span">Remove From Favourite</span>

                        </button>
                    }
                    else
                    {
                        <input type="hidden" value="0" id="isFavourate" />
                        <button class="border rounded-pill bg-white py-1" id="addToFavourite">
                            <img src="~/images/heart1.png" class="fav-img" alt="">
                            <span class="font-size fav-span">Add to Favourite</span>

                        </button>

                    }
                    <button class="border rounded-pill bg-white py-1" id="recommendedBtn" data-bs-target="#recommendedModal">
                        <img src="~/images/add1.png" alt="">
                        <span class="font-size">Recommend to a Co-Worker</span>

                    </button>

                    <div id="recommendedPartial">
                    </div>




                </div>
                <!-- rating.js file -->



                <div id="rating" class="d-flex justify-content-center align-items-center position-relative z-1 mb-1">

                    <input id="star-input-id" type="text" class="rating text-center d-none" data-size="sm" />
                </div>






            }



            @*<div class="d-flex justify-content-center m-3">
                <img src="~/images/star-empty.png" alt="">
                <img src="~/images/star-empty.png" alt="">
                <img src="~/images/star-empty.png" alt="">
                <img src="~/images/star-empty.png" alt="">
                <img src="~/images/star-empty.png" alt="">
                </div>*@
            <div class="row gap-3 ">
                <div class="border col d-flex flex-column justify-content-between p-0">
                    <div class="ps-2">
                        <img class="pt-2" src="~/images/pin1.png" alt="">
                    </div>
                    <div class="px-2 info-div">
                        <span> City </span>
                        <p class="fw-bold">@Model?.City?.Name</p>
                    </div>
                </div>
                <div class="border col d-flex flex-column justify-content-between p-0">
                    <div class="ps-2">
                        <img class="pt-2" src="~/images/web.png" alt="">
                    </div>
                    <div class="px-2 info-div">
                        <span>Theme</span>
                        <p class="fw-bold">@Model?.Theme?.Title</p>
                    </div>
                </div>
                <div class="border col d-flex flex-column justify-content-between p-0">
                    <div class="ps-2">
                        <img class="pt-2" src="~/images/calender.png" alt="">
                    </div>
                    <div class="px-2 info-div">
                        <span>Date</span>
                        <p class="fw-bold">Ongoing Opportunity</p>
                    </div>
                </div>
                <div class="border col d-flex flex-column justify-content-between align-items-start p-0">
                    <div class="ps-2">
                        <img class="pt-2" src="~/images/organization.png" alt="">
                    </div>
                    <div class="px-2 info-div">
                        <span> Organization</span>
                        <p class="fw-bold ">@Model.OrgName</p>
                    </div>
                </div>
            </div>
            @if ((!string.IsNullOrEmpty(userId) && Model?.MissionApplications?.LongCount() > 0 &&
        @Model.MissionApplications.Any(ma => ma.UserId == long.Parse(userId) && ma.ApprovalStatus == 2)))
        {
            <div class="d-flex justify-content-center">
                        <a class="btn apply-btn mt-3 mb-3 px-5 " id="cancelBtn">
                            Cancel <img src="~/images/right-arrow.png"
                                   alt="#">
                        </a>
                    </div>
        }
        else if ((!string.IsNullOrEmpty(userId) && Model?.MissionApplications?.LongCount() > 0 &&
        Model.MissionApplications.Any(ma => ma.UserId == long.Parse(userId) && ma.ApprovalStatus == 1)))
        {
            <div class="text-center text-success mt-2">You're a volunteer.</div>
        }
        else if ((Model?.Status == true
        && Model?.TotalSeats == null ? true : Model?.SeatsLeft > 0
        && Model?.RegistrationDeadline == null ? true : Model?.RegistrationDeadline >= DateTime.Now))
        {
            <div class="d-flex justify-content-center">
                        <a class="btn apply-btn mt-3 mb-3 px-5 " id="applyBtn">
                            Apply Now <img src="~/images/right-arrow.png"
                                   alt="#">
                        </a>
                    </div>
        }

        </div>
    </div>

    <!-- second section -->
    <div class="row">
        <!-- left div  -->
        <div class="col-12  col-lg-7 mt-3">
            <div class="d-flex gap-3 border-bottom pt-3">
                <button class="mission-btn border-0 bg-white active-tab">Mission</button>
                <button class="org-btn border-0 bg-white">Organization</button>
                <button class="comment-btn border-0 bg-white">Comments</button>

            </div>
            <!-- mission  -->
            <div class="mission-div overflow-scroll">
                <div class="pt-3 ">
                    <h3 class="intro fs-3">Introduction</h3>
                    @Html.Raw(Model?.Desc)

                </div>
                <div>
                    <h3 class="fs-3">Challenge</h3>
                    <p class="text-secondary">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe
                        dolores
                        facilis architecto
                        possimus illum! Officia eius quidem facere nihil nisi mollitia dolore soluta neque harum.
                        Fuga
                        neque eos ab nemo?
                    </p>
                    <p class="text-secondary">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
                        dicta
                        modi accusantium est
                        ipsa dolorum nisi sequi corporis ratione id. Adipisci quisquam, quis tenetur possimus ex
                        harum
                        natus doloribus quod?
                    </p>

                </div>
                <div>
                    <h3 class="fs-3">Documemts</h3>

                    <div class="d-flex gap-3 flex-wrap">
                        @foreach (var doc in Model.MissionDocuments)
                        {
                            if (doc.DocumentType.Equals(".xlsx"))
                            {
                                <a href="@doc.DocumentLink" class="text-decoration-none text-black">

                                    <div class="border rounded-pill d-flex gap-2 px-4 py-2 align-items-center">
                                        <img src="~/images/xlsx.png" />

                                        @doc.DocumentName@doc.DocumentType

                                    </div>
                                </a>
                            }
                            else if (doc.DocumentType.Equals(".docx"))
                            {
                                <a href="@doc.DocumentLink" class="text-decoration-none text-black">
                                    <div class="border rounded-pill d-flex gap-2 px-4 py-2 align-items-center">
                                        <img src="~/images/doc.png" />
                                        @doc.DocumentName@doc.DocumentType

                                    </div>
                                </a>

                            }
                            else
                            {
                                <a href="@doc.DocumentLink" class="text-decoration-none text-black">
                                    <div class="border rounded-pill d-flex gap-2 px-4 py-2 align-items-center">
                                        <img src="~/images/pdf.png" />
                                        @doc.DocumentName@doc.DocumentType

                                    </div>
                                </a>

                            }


                        }
                        @*
                            <div class="border rounded-pill d-flex gap-2 px-4 py-2 align-items-center">
                            <img src="~/images/doc.png" alt="">
                            at_vero_eos_accusamus.doc
                            </div>

                            <div class="border rounded-pill d-flex gap-2 px-4 py-2 align-items-center">
                            <img src="~/images/xlsx.png" alt="">
                            important_doc.xls
                            </div>*@

                    </div>

                </div>
            </div>
            <!-- organization  -->
            <div class="d-none org-div mt-3">
                <p class="text-secondary">
                    @Model.OrgDetails
                </p>
            </div>
            <!-- Comments  -->
            @if (userId != null)
            {
                <div class="d-none comment-div mt-3">
                    <textarea name="" id="commentMsg" cols=" 10" rows="4"
                          class="form-control text-secondary" placeholder="Enter your comments..." onkeyup="enableDisableBtn()"></textarea>

                    <div class="d-flex">
                        <button class="btn apply-btn mt-3 mb-3 px-4" id="commentBtn" disabled>
                            Post Comment <img src="~/images/right-arrow.png" alt="#">
                        </button>
                    </div>
                    <div class="bg-light container p-3" id="partialComment">
                    </div>

                </div>
            }

        </div>

        <!-- right div  -->
        <div class="col-12 col-lg-5 d-flex flex-column gap-5 mt-5">
            <!-- right first div  -->
            <div class=" border p-3">
                <h5 class="border-bottom py-3  active-tab d-inline"> Information</h5>
                <div class="d-flex  flex-wrap gap-lg-1 justify-content-between mt-4 border-bottom">
                    <p>Skills</p>
                    <ul class="d-flex skills-ul flex-wrap ">
                        @foreach (var skills in Model.MissionSkillsList)
                        {
                            <li class="ms-1">@skills.Skill.SkillName</li>


                        }


                    </ul>
                </div>
                <div class="d-flex border-bottom justify-content-between gap-lg-5 mt-2">
                    <p>Days</p>
                    <p>Weekend only</p>
                </div>

                <div class="d-flex gap-lg-4 mt-2 gap-5 justify-content-md-between" id="ratingPartial">
                </div>
            </div>

            <!-- right second div  -->
            <div class="border p-3 ps-0  pe-0 pb-0 ">
                <h4 class="ps-3  py-3  border-bottom active-tab d-inline">Recent Volunteers</h4>
                <div class="d-flex justify-content-around p-sm-1 p-lg-5 flex-wrap volunteer-div mt-4">
                    @{
                        int i = 0;
                    }
                    @foreach (var user in Model.MissionApplications)
                    {
                        if (user.ApprovalStatus == 1)
                        {

                            <div class="text-center" data-recent="@i">
                                <img class="rounded-pill" src="@user.User.Avatar" alt="">
                                <p class="volunteer-name">@user.User.FirstName</p>
                            </div>
                            {
                                i++;
                            }
                        }
                    }



                </div>
                <div class="d-flex justify-content-around border-top">
                    <a class="border-end bg-white px-2 py-2 p-lg-3 p-md-4" id="leftPage">
                        <img src="~/images/left.png" alt="">
                    </a>
                    <p class="pt-3 text-center" id="pageRange"></p>
                    <a class=" border-start bg-white px-2 py-2 p-lg-3 p-md-4" id="rightPage">
                        <img src="~/images/right-arrow1.png" alt="">
                    </a>
                </div>

            </div>

        </div>

    </div>
    <!-- third section  -->
    <div class="mt-5 border-top p-3" id="realtedMission">
    </div>
</section>

@section Scripts{
<script src="~/js/missionDetail.js"></script>
<script>
var logout = $("#logout");
logout.click(() => {

    Swal.fire({
        title: "Are you sure you want to logout?",
        text: "",
        icon: "warning",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes",
        cancelButtonText: "Cancel",
        closeOnConfirm: false,
        closeOnCancel: false
    })
        .then((response) => {
            if (response.isConfirmed) {
               
                $.ajax({
                    url: '/Users/Home/Logout',
                    type: "GET",

                    success: (result) => {
                        
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Logged out!',
                            showConfirmButton: false,
                            timer: 1000
                        }).then(() => {
                            window.location.href = result;
                        })


                    },
                    error: (err) => {
                        console.log("error in contact us");
                        console.log(err);
                    }
                })
            }
            
        });



});</script>

}