@model CIPlatform.entities.ViewModels.IndexViewModel;
@{
    var UserName = Context.Session.GetString("firstName");
    var userId = Context.Session.GetString("userId");
}

<input type ="hidden" value="@userId" id="userId" />
<div class="d-flex justify-content-between container my-3 first-div">
    <div class="dropdown left-div">
        <button class="header-toggle d-md-none border-0">
            <img class="h-50" src="~/images/list.png" alt="#">
        </button>
        <a asp-action="PlatformLandingPage" asp-controller="Home"><img class="logo h-50" src="~/images/logo.png" alt="#"></a>

        <a asp-action="StoryListing" asp-controller="Story" class="text-decoration-none mx-5 d-none d-md-inline d-lg-inline">Stories</a>
        <button class="dropdown-toggle policy-btn d-none d-md-inline d-lg-inline" data-bs-toggle="dropdown"
                aria-expanded="false" type="button" id="dropdownMenuButton1">
            Policy
            <img class="m-1" src="~/images/drop-down.png" alt="#">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" asp-action="PolicyPage" asp-controller="Home">Privacy and Cookies Policy</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>

    </div>
    
    <div class="dropdown right-div">
        <button class="header-serach d-md-none border-0">
            <img class="search-logo" id="search-btn" src="~/images/search.png" alt="#">
        </button>
        @if (UserName != null)
        {
            <img class="rounded-circle user-img" src="~/images/user-img.png" alt="#">
            <button class="dropdown-toggle policy-btn profile-btn d-none d-sm-inline" data-bs-toggle="dropdown"
                aria-expanded="false" type="button" id="dropdownMenuButton1">
                <span>@UserName</span>

                

                <img class="m-1" src="~/images/drop-down.png" alt="#">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              
                <li><a class="dropdown-item" asp-action="UserEditProfile" asp-controller="Home" asp-route-id="@userId">My Profile</a></li>
                 <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" asp-action="Logout" asp-controller="Home">Logout</a></li>
            </ul>
        }
        @if (UserName == null)
        {
            <div class="d-inline">
                <a class="btn btn-outline-danger rounded" asp-action="Login" asp-controller="Home" >Login</a>
            </div>
        }
    </div>

</div>

<!-- second section -->
<section class="d-flex second-div mt-4">
    <div class="container">
        <div class="d-flex row p-0">
            <div class="col-10 col-md-11 col-lg-6">
                <div class="p-3 search-div d-flex gap-3">
                    <img class="d-none d-md-inline d-lg-inline search-img mt-1" src="~/images/search.png"
                         alt="#">
                    <input type="text" id="search-bar" class="search-bar form-control border-0 p-0"
                           placeholder="Search mission...">
                </div>
            </div>
            <!-- filter button -->
            <button class="col d-lg-none filter-btn border-0">
                <img src="~/images/filter.png" alt="#">
            </button>
            <!-- filter menu -->
            <div class="col-6 m-0  filter-div" >
                <div class="row d-lg-flex " id="filter-menu">
                    <div class="col-lg-3 p-3">
                        <select id="country-filter" class="form-select select-group">
                            <option value="1" selected disabled>Country</option>
                             @foreach(var country in Model.CountryList)
                            {
                                <option value="@country.CountryId">@country.Name</option>
                               
                            }


                        </select>
                    </div>
                    <div class="col-lg-3 p-3 city-div">
                        <select id="city-filter" class="form-select select-group" >
                           
                            <option value="1" selected disabled>City</option>
                           @foreach (var cities in Model.CityList)
                            {
                             @*<option value="CityName">@cities.Name</option>*@
                            }
                        </select>
                    </div>
                    <div class=" col-lg-3 p-3">
                        <select id="theme-filter" class="form-select select-group" >
                            <option value="1" selected disabled>Theme</option>
                            @foreach (var themes in Model.ThemeList)
                            {
                                <option value="@themes.MissionThemeId">@themes.Title</option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-3 p-3">
                        <select class="form-select select-group" id="skill-filter">
                            <option value="1" selected disabled>Skills</option>
                            @foreach (var skills in Model.SkillsList)
                            {
                                <option value="@skills.SkillId">@skills.SkillName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>


@section Scripts{
    <script src="~/js/custom.js">
  
    </script>
}