@model CIPlatform.entities.ViewModels.StoryShareViewModel
@{
    var missions = ViewBag.missions;
    var userId = Context.Session.GetString("userId");
    var userName = Context.Session.GetString("userName");

}
<partial name="_Navbar1" />

<section class="border-top">
    
    <form method="post" asp-action="AddStory" enctype="multipart/form-data" id="formSubmit">
        <input type="hidden" value="@Model.StoryId" name="storyID" />
        @if (Model.Status == 2)
        {
            @foreach (var media in Model?.StoryMedia!)
            {

                <input type="hidden" name="preloaded" value="@media.MediaName@media.MediaType" id="storyMedia" data-name="@media.MediaName" data-type="@media.MediaType" data-path="@media.MadiaPath" />
            }
        }
        <input type = "hidden" value="@userId" asp-for="UserId" />
    <div class="container mt-4">
        <h3 class="text-secondary">Share your story</h3>  

        <div class="row mt-5">
            <div class="col">
                <label for="missions">Select Your Mission</label>
                <select id="missions" class="form-select mt-1" asp-for="MissionId" asp-items="@(new SelectList(ViewBag.missions,"MissionId","Title"))">
                    <option selected disabled value="">Select your mission</option>
                    @*@foreach(var mission in missions)
                    {
                        <option value = "@mission.MissionId"> @mission.Title</option>   
                    }*@
                    
                </select>
              <span asp-validation-for="MissionId" class="text-danger error-span"></span>
            </div>

            <div class="col">
                <label for = "storyTitle">My Story Title</label>
                <input type="text" id="storyTitle" asp-for="StoryTitle" class="form-control mt-1" placeholder="Enter story title"/>
                    <span asp-validation-for="StoryTitle" class="text-danger error-span"></span>
            </div>
        </div>
        <div class="mt-4">
            <label class="mb-2" for="tiny">My Story</label>
            <textarea id="tiny" asp-for="Description" ></textarea>
            <span asp-validation-for="Description" id="descSpan" class="text-danger error-span"></span>
        </div>

        <div class="my-4">
            <label class="mb-2"  for = "videoUrl">Enter Video URL</label>
            <input type="text" asp-for="@Model.VideoUrl" id = "videoUrl" placeholder="Enter your url" class="form-control">
        </div>

        <label class="mb-2">Upload your Photos</label>


        <div class="d-flex justify-content-center drag-drop-div">
            <img src="~/images/drag-and-drop.png" class="p-5 drag-images" alt="Drag And Drop">
        </div>
            <span id="dragImgSpan" class="text-danger error-span"></span>

        <div class="image-display-div mt-4 d-flex">
        </div>
        <input type="file"  id="drag-img" name = "file" hidden accept=".png, .jpeg, .jpg" multiple>
        <div class="d-flex justify-content-between">
                @if (Model.StoryId != null)
                {
                    <div class="mt-4">
                        <a class="btn border-secondary rounded-pill px-4 py-2" asp-action="deleteStory" asp-controller="Story" asp-route-storyId ="@Model.StoryId">Cancle</a>
                    </div>
                }
                else
                {
                     <div class="mt-4">
                        <a class="btn border-secondary rounded-pill px-4 py-2" asp-action="StoryListing" asp-controller="Story">Cancle</a>
                    </div>
                    
                }
            <input type="hidden" name="action" id="action"/>
            <div class="d-flex">
                <div class="mt-4 me-2">
                    <button type ="submit" value="draft" id ="draftSubmit" class="btn border rounded-pill px-4 py-2 orange-btn"
                       style="border-color: #F88634 !important">Save</button>
                </div>
                <div class="mt-4">
                    <button type ="submit" id="submitBtn" value="share" class="btn border rounded-pill px-4 py-2 orange-btn"
                       style="border-color: #F88634 !important">Submit</button>
                </div>
            </div>
        </div>

    </div>
    </form>
</section>

<partial name = "_Footer"></partial>

@section Scripts{

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <script src="~/js/tinymce.js"></script>
    <script src="~/js/story.js"></script>
    <partial name ="_ValidationScriptsPartial"/>
}