@model CIPlatform.entities.ViewModels.VolunteeringHoursViewModel
@{
    var userId = Context.Session.GetString("userId");
}

<input type="hidden" value="@userId" id="userId" />
<div class="modal" id="timeMissionModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered timesheet-modal">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">Please input below Volunteering Hours</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="hourTimeSheetForm">
            <div class="modal-body">

                <label for="missions" class="form-label">Mission</label>
                <select name="" id="mission" class="form-select bg-secondary-subtle  text-secondary" asp-for="Mission">
                    <option value="" selected disabled>Select Mission</option>
                    @if (Model.MissionList != null)
                    {
                        @foreach (var mission in Model.MissionList!)
                        {

                                <option value="@mission.MissionId" data-startdate="@mission.StartDate" data-enddate="@mission.EndDate">@mission.Title</option>

                        }
                    }
                </select>
                    <span asp-validation-for="Mission" class="font-size text-danger"></span>


                    <label for="dateVol" class="mt-3 form-label">Date Volunteered</label>
                <input type="date" id="dateVol" class="d-block w-100 text-secondary form-control"
                       placeholder="Select Date" asp-for="Date">
                <span asp-validation-for="Date" class="font-size text-danger"></span>
                <span class="font-size text-danger" id="dateError"></span>
                <div class="d-flex gap-2">
                    <div class="hour-min-div">
                        <label for="hour" class="mt-3 form-label">Hours</label>
                        <input type="number" id="hour" placeholder="Enter Spent Hours"
                               class="d-block w-100 form-control text-secondary" asp-for="Hour" />
                        <span asp-validation-for="Hour" class="font-size text-danger"></span>
                    </div>
                    <div class="hour-min-div">

                        <label for="minute" class="form-label mt-3">Minutes</label>
                        <input type="number" id="minute" placeholder="Enter Spent Minutes"
                               class="d-block w-100  text-secondary form-control"  asp-for="Minutes"/>
                        <span asp-validation-for="Minutes" class="font-size text-danger"></span>
                    </div>
                </div>
                <label for="notes" class="mt-3">Message</label>
                    <textarea asp-for="Message"  id="notes" cols="30" rows="5"
                          class="d-block w-100 text-secondary form-control"></textarea>
                <span asp-validation-for="Message" class="font-size text-danger"></span>
                </div>
            <div class="modal-footer border-0">
                <a class="btn border-secondary rounded-pill px-4 py-2 text-secondary"
                   data-bs-dismiss="modal">Cancle</a>
                <button type="submit" class="btn border rounded-pill px-4 py-2 orange-btn"
                        style="border-color: #F88634 !important">
                    Submit
                </button>
            </div>
            </form>
        </div>
    </div>
</div>


<partial name="_ValidationScriptsPartial" />